/* 黑色 */
$black-0: #000;
$black-1: #333;
$black-2: #999;
$black-3: #191919;
$black-4: #151624;
$black-5: #2d3045;

/* 白色 */
$white-0: #fff;

/* 灰色 */
$gray-0: #eff2f4;
$gray-1: #f3f4f7;

/* 蓝色 */
$blue-0: #0453f3;

/* 橙色 */
$orange-0: #ff8633;

$theme-color: $blue-0;
$font-color: $black-1;
$title-color: $black-1;
$desc-color: $black-2;
